---
http_interactions:
- request:
    method: get
    uri: https://api.lifx.com/v1beta1/lights/id:d073d5017100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c72e2adc43df5aafed4f3f95df724f64f224539fc67ca39b2f71169f5fdf8c4f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Lifx-Account-Uuid:
      - 7ffee936-19ab-4c70-b377-d3fc7a4d017f
    body:
      encoding: UTF-8
      string: '{"id":"d073d5017100","uuid":"02780349-7558-4842-84bb-8a98778eefd5","label":"Bright
        1","connected":true,"power":"off","color":{"hue":249.9977111467155,"saturation":1.0,"kelvin":3500},"brightness":0.0,"group":{"id":"1c8de82b81f445e7cfaafae49b259c71","name":"Test
        Group"},"location":{"id":"1d6fe8ef0fde4c6d77b0012dc736662c","name":"Test Location"},"last_seen":"2015-03-02T10:03:46.848+00:00","seconds_since_seen":0.002248558}'
  recorded_at: Mon, 02 Mar 2015 10:03:46 GMT
recorded_with: VCR 2.9.3
